header {
  background: url(img.jpeg) no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  }
  .col{
    border: 20px;
  }
  .discour{
    padding: 100px;
  }
  .temoignage{
    text-align: center;
    padding: 50px;
  }
  .titre{
    text-align: center;
    padding: 50px;
  }
  