header {
  background: url('https://images.unsplash.com/photo-1517699418036-fb5d179fef0c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3VyZmluZ3xlbnwwfHwwfHx8MA%3D%3D') no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  }
  .col{
    border: 20px;
  }
  .discour{
    padding: 100px;
  }
  .temoignage{
    text-align: center;
    padding: 50px;
  }
  .titre{
    text-align: center;
    padding: 50px;
  }
  